@font-face {
  font-family: Fruits Delight;
  src: url(font/Fruits\ Delight.otf);
}

@font-face {
  font-family: Sunday Lemon;
  src: url(font/Sunday\ Lemon.otf);
}

@font-face {
  font-family: sono;
  src: url(font/Sunday\ Lemon.otf);
}

@font-face {
  font-family: grotes;
  src: url(font/AlteHaasGroteskBold.ttf);
}
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Sunday Lemon;
}
/*
*Start Menu
*/
nav {
  background-color: #739072;
  color: azure;
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper {
  width: 1024px;
  margin: auto;
  padding: 10px 0px 10px 0px;
}

nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}

.menu > ul > li > a:hover {
  color: #fde092;
}

.menu {
  width: 40%;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  display: 0px;
  justify-content: space-between;
}

.menu > ul > li > a {
  text-decoration: none;
  color: azure;
  font-family: grotes;
}

.logo {
  display: flex;
  text-align: center;
}

.logo > img {
  height: 55px;
}

/*Akhir Menu*/  

/*Awal Humberger Menu */
button.humberger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  overflow-x: hidden;
  max-width: 100%;
}

button.humberger-menu > i {
  color: azure;
  font-size: 1.5rem;
}

button.humberger-menu > i.icon-close {
  display: none;
}
/*Akhir Humberger Menu */

/* Awal Hero */
header {
  background: url("img/Background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  letter-spacing: 5px;
  text-shadow: 0 0 2px black;
}

.header-opacity {
  background-color: #86a789;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.header-jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header-jumbotron > h4 {
  color: #fde092;
  font-size: 3rem;
  font-family: Sunday Lemon;
  margin: 0;
  padding: 0;
}

.header-jumbotron > h5 {
  color: azure;
  margin: 0;
  padding: 5px;
  font-size: 4.5rem;
  line-height: 4rem;
}

.header-jumbotron > p {
  padding: 5px;
  margin: 0px 5px 0px 5px;
  color: azure;
  font-family: 'Inter', sans-serif;
}
/* Akhir Hero */

/* statistik */
#statistik {
  background-color: #AAC8A7;
  color: #fff;
}

#statistik > .wrapper {
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#statistik > .wrapper > div {
  text-align: center;
}

#statistik > .wrapper > div > p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

#statistik > .wrapper > div > p > i {
  margin-right: 10px;
  font-size: 3rem;
}

#statistik > .wrapper > div > p > small {
  font-size: 1.5rem;
  font-family: grotes ;
}
/* Akhir Statistik */

/* Awal Skills */
#skills {
  background-color: #86A789;
  color: #fff;
  padding-bottom: 5%;
  padding-top: 3%;
}

#skills > .wrapper {
  padding: 50px 0 50px 0;
}

#skills > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  text-shadow: 0 0 2px black;
  margin: 30px;
  padding: 0;
}

#skills > .wrapper > h4 > span {
  color: #fde092;
}

.bahasa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bahasa div {
  box-sizing: border-box;
  position: relative; 
  text-align: center;
  background-color: #739072;
  background-size: cover;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: calc(33.33% - 40px);
  transition: background-color 0.3s;
}

.bahasa div:hover {
  background-color: #AAC8A7;
}

.bahasa img {
  width: 9rem;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.bahasa div:hover img {
  filter: grayscale(0%);
} 

.bahasa .prog {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  margin: 10px;
  padding-top: 5px;
}

.bahasa div:hover p {
  color: #ffff;
}

/*Akhir Skills*/
#about {
  background-color: #90c095;
  color: #fde092;
  padding-bottom: 5%;
  padding-top: 3%;
}

#about > .wrapper {
  padding: 50px 0 50px 0;
}

#about > .wrapper > h4 {
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 2.8rem;
  margin-top: 30px;
  padding: 0;
}
#about > .wrapper > h4 > span {
  color: #ffff;
}

#about > .wrapper > div {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#about > .wrapper > .pict,
#about > .wrapper > .desc {
  width: 90%;
  box-sizing: border-box; 
}

#about > .wrapper > .pict {
  width: 25%;
  float: left;
  margin-top: -30px;
}

#about > .wrapper > .pict > img {
  max-width: 100%;
}
 
#about > .wrapper > .desc {
  width: 70%;
  margin: 105px auto;
  font-family: grotes;
  background-color: azure;
  color: #3d7141;
  border-radius: 10px;
}

#about > .wrapper > .desc > p {
margin: 5px;
padding: 15px;
}
/*Akhir About*/

/*Awal Contact*/
#contact {
  background-color:  #A0C49D  ;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 6.5%;
}

#contact > .wrapper {
  padding: 50px 0px 5px 0px;
}

#contact > .wrapper > h4  {
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 2.8rem;
  margin-top: 50px;
  color: #fff;
  margin: 0;
  padding: 0;
}

#contact > .wrapper > p {
  color: #fff;
  text-align: center;
  font-family: grotes;
  font-weight: 500;
}

.sosmed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffff;
  font-size: 18px;
  font-family: grotes;
}

.sosmed > ul > li {
  margin-right: 350px;
}

a {
  text-decoration: none;
  color: #ffff;
}

#contact > .message > h4  {
  text-align: center;
  text-shadow: 0 0 1px black;
  font-size: 2.8rem;
  color: #fff;
  margin: 0;
  padding: 0;
}

.underline-link {
  position: relative;
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}

.underline-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

 form {
      max-width: 700px;
      margin: auto;
      padding: 20px;
      color: #ffff;
      font-family: grotes;
      font-weight: bold;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .form-group {
      display: flex;
      justify-content: space-between;
    }

    .form-group .left {
      width: 48%;
    }

    .form-group .right {
      width: 48%;
    }

    .custom-placeholder {
      color: black;
      font-family: grotes;
    }

    textarea {
      height: 100px;
    }

    button {
      background-color: #86A789;
      font-family: Grotes;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #618264;
    }
/*Akhir Contact*/

/*Awal Footer*/
footer {
  background-color: #96C291;
  font-family: grotes;
  color: #ffff;
  padding: 20px 0;
}

.footer-content {
  font-size: 10px;
  text-align: center;
}

.cp {
  font-family: grotes;
  color: #ffff;
}
/*Akhir Footer*/

/*1024, 900, 768, 600, 450*/

/* 1024px */
@media only screen and (max-width: 1024px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

   nav {
    position: fixed;
    width: 100%;
  }

  .menu > ul > li > a {
    margin-right: 30px;
  }

  .logo {
    margin-left: 25px;
  }

  .logo > img {
    height: 60px;
}

  #statistik > .wrapper {
  padding: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#statistik > .wrapper > div > p {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

#statistik > .wrapper > div > p > i {
  margin-right: 10px;
  font-size: 2.5rem;
}

#statistik > .wrapper > div > p > small {
  font-size: 2rem;
  font-family: grotes ;
}

#about > .wrapper > .pict {
  width: 20%;
  float: left;
  margin: 0px 20px 35px;
}
}

/* 900px */
@media only screen and (max-width: 900px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

   nav {
    position: fixed;
    width: 100%;
  }
  
  .menu {
    width: 50%;
  }

  #statistik > .wrapper > div > p {
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  
  #statistik > .wrapper > div > p > i {
    margin-right: 10px;
    font-size: 2rem;
  }
  
  #statistik > .wrapper > div > p > small {
    font-size: 1.5rem;
  }

  #about > .wrapper > .desc {
    margin: 120px auto;
    padding: 1px;
    max-width: 600px;
}
  
  #about > .wrapper > .desc > p {
  margin: 5px;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  }

  #about > .wrapper > .pict {
  width: 20%;
  float: left;
  margin: 35px 20px 0px;
}
}

/* 768px */
@media only screen and (max-width: 768px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

   nav {
    position: fixed;
    width: 100%;
  }

  .menu {
    width: 60%;
  }

  #statistik > .wrapper > div > p {
    font-size:  2rem;
    margin: -10px;
    padding: 5px;
  }

  #about > .wrapper > .desc {
    margin: 120px auto;
    padding: 1px;
    max-width: 700px;
}

#about > .wrapper > .pict {
  width: 26%;
  float: left;
  margin: 25px -8px;
}
}

/* 600px */
@media only screen and (max-width: 600px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

   nav {
    position: fixed;
    width: 100%;
  }

.header-jumbotron > h4 {
  font-size: 2rem;
}

.header-jumbotron > h5 {
  font-size: 4rem;
  line-height: 4rem;
}

.header-jumbotron > p {
  font-size: 0.8rem;
}

  button.humberger-menu {
    display: inline;
    margin-right: 30px;
  }
  .menu {
    display: none;
  } 
  .tampil {
    display: inline;
  }
  .tampil > ul {
    flex-direction: column;
    background-color: #AAC8A7;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
  }
  .tampil > ul > li {
    padding: 10px 20px 10px 20px;
    margin-right: 0;
  }
  .humberger-menu  {
    border: none;
    background: none;
    max-width: 100%;
    cursor: pointer;
    overflow-x: hidden;
  }

#statistik > .wrapper {
  padding: 40px;
  width: 87%;
}

#statistik > .wrapper > div > p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#statistik > .wrapper > div > p > i {
  margin-right: 5px;
  font-size: 1.5rem;
}

#statistik > .wrapper > div > p > small {
  font-size: 1rem;
}

#about > .wrapper > h4 {
  font-size: 2rem;
}

.bahasa {
  width: 100%;
}

.bahasa div {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: calc(50% - 40px);
  transition: background-color 0.3s;
}

.bahasa .prog {
  font-size: 20px;
  margin: 10px;
  padding-top: 5px;
}

#about > .wrapper > .pict,
#about > .wrapper > .desc {
  width: 100%;
  box-sizing: border-box;
}

#about > .wrapper > .pict {
  margin-top: 30px;
  margin-left: 38%;
}

#about > .wrapper > .pict > img {
  max-width: 100%;
  width: 25%;
}

#about > .wrapper > .desc {
  width: 70%;
  font-family: grotes;
  border-radius: 10px;
}

#about > .wrapper > .desc > p {
  margin: 5px;
  padding: 10px;
  font-size: 13px;
}

#contact > .wrapper > h4 {
  font-size: 2rem;
}

#contact > .wrapper > p {
  font-size: 0.9rem;
}

.sosmed {
  font-size: 15px;
}

.sosmed > ul > li {
  margin-right: 300px;
}

#contact > .message > h4  {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
}

/* 450px */
@media only screen and (max-width: 450px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }
  .menu {
    display: none;
  } 
  .tampil {
    display: inline;
  }
  .tampil > ul {
    flex-direction: column;
    background-color: #AAC8A7;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
  }
  .tampil > ul > li {
    padding: 10px 20px 10px 20px;
    margin-right: 0;
  }

  .header-jumbotron {
    top: 50px;
}

  .header-jumbotron > h4 {
    font-size: 1.5rem;
  }
  
  .header-jumbotron > h5 {
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  
  .header-jumbotron > p {
    font-size: 0.5rem;
  }

  #statistik > .wrapper {
  padding: 30px;
  width: 87%;
}

  #statistik > .wrapper > div > p {
  font-size: 1.1rem;
}

#statistik > .wrapper > div > p > i {
  margin-right: 5px;
  font-size: 1.1rem;
}

#statistik > .wrapper > div > p > small {
  font-size: 0.1rem;
}

#skills > .wrapper > h4 {
  font-size: 2rem;
}

.bahasa div {
    width: 100%;
  }

.bahasa div {
  margin: 50px;
  margin-bottom: -20px;
  padding: 15px;
}

.bahasa .prog {
  font-size: 20px;
  margin: 10px;
}

#about > .wrapper > h4 {
  font-size: 2rem;
}

#about > .wrapper > .pict {
  margin-top: 30px;
  margin-left: 35%;
}

#about > .wrapper > .pict > img {
  max-width: 100%;
  width: 30%;
}

#about > .wrapper > .desc {
  width: 70%;
  font-family: grotes;
  border-radius: 10px;
}

#about > .wrapper > .pict > img {
  max-width: 100%;
  border: 2px solid black;
  border-radius: 50%;
}

#about > .wrapper > .desc > p {
  margin: 5px;
  padding: 10px;
  font-size: 10px;
}

#contact > .wrapper > p {
  font-size: 0.7rem;
}
  .sosmed > ul {
    width: 100%;
  }

  .sosmed > ul > li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 360px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

  .header-jumbotron {
    top: 60px;
}

  .header-jumbotron > h4 {
    font-size: 1.2rem;
  }
  
  .header-jumbotron > h5 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  .header-jumbotron > p {
    font-size: 0.5rem;
  }

  #statistik > .wrapper {
    padding: 20px;
    width: 90%;
  }
  
    #statistik > .wrapper > div > p {
    font-size: 1rem;
  }
  
  #statistik > .wrapper > div > p > i {
    margin-right: 2px;
    font-size: 1rem;
  }
  
  #statistik > .wrapper > div > small {
    font-size: 0.6rem;
  }

  #about > .wrapper > .pict > img {
    max-width: 100%;
    border: 2px solid white;
    border-radius: 50%;
  }

  #about > .wrapper > .desc {
    width: 90%;
    border-radius: 10px;
  }

  #skills > .wrapper > h4 {
    font-size: 1.8rem;
  }
  
  .bahasa div {
      width: 100%;
    }
  
  .bahasa div {
    margin: 50px;
    margin-bottom: -20px;
    padding: 15px;
  }
  
  .bahasa .prog {
    font-size: 13px;
    margin: 10px;
  }

  .bahasa img {
    width: 5rem;
  }

  #about > .wrapper > h4 {
    font-size: 1.8rem;
  }

  #contact > .wrapper > h4 {
    font-size: 1.8rem
  }

  #contact > .wrapper > p {
  font-size: 0.9rem;
}

#contact > .message > h4 {
  font-size: 1.8rem;
}

.sosmed > ul {
  width: 100%;
}

.sosmed > ul > li {
  margin-right: 0;
  margin-bottom: 2px;
}
}

@media only screen and (max-width: 360px) {
  html, body, .wrapper {
    overflow-x: hidden;
    width: 100%;
  }

  .header-jumbotron > h4 {
    font-size: 1.2rem;
  }
  
  .header-jumbotron > h5 {
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .header-jumbotron > p {
    font-size: 0.5rem;
  }

  #contact > .wrapper > h4 {
    font-size: 1.8rem
  }

  #contact > .wrapper > p {
  font-size: 0.7rem;
}

  #contact > .message > h4 {
  font-size: 1.8rem;
}

  #about > .wrapper > .pict > img {
  border: 2px solid #fde092;
}

.footer-content {
  font-size: 7px;
}
}